@tiptap-pro:registry=https://registry.tiptap.dev/
//registry.tiptap.dev/:_authToken=aQ7OZcNH3BsePtDms7kxZ/tNz1RRuaS6K7pzCExfu5Rze1eQpGAizJGOfqeiMDbo

@awesome.me:registry=https://npm.fontawesome.com/
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=605E5715-9F83-45A1-84C5-B0A6DB53BF4A

