/* styles/AmeMarkdownBeautifier.module.css */
.toolbar {
    background-color: #f5f5f5;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.content {
    padding: 20px;
    border-bottom: 1px solid #424242;
    border-top: none;
    min-height: 300px;
}
