.inner {
    display: flex;
    justify-content: space-between;
    padding-top: calc(var(--mantine-spacing-xl) * 4);
    padding-bottom: calc(var(--mantine-spacing-xl) * 4);

    @media (max-width: $ mantine-breakpoint-md) {
        flex-direction: column;
    }
}

.content {
    max-width: 560px;
    margin-right: calc(var(--mantine-spacing-xl));

    @media (max-width: $ mantine-breakpoint-md) {
        max-width: 100%;
        margin-right: 0;
    }
}

.title {
    color: var(--mantine-color-dark-1);
    font-size: 44px;
    line-height: 1.2;
    font-weight: 700;

    @media (max-width: $ mantine-breakpoint-xs) {
        font-size: 28px;
    }
}

.control {
    @media (max-width: $ mantine-breakpoint-xs) {
        flex: 1;
    }
}

.subtitle {
    font-size: 18px;
}

.image {
    width: 400px;
    height: 400px;
    object-fit: contain;

    @media (max-width: $ mantine-breakpoint-md) {
        display: none;
    }
}

.highlight {
    width: fit-content;
    background-color: var(--mantine-primary-color-0);
    border: 1px solid var(--mantine-primary-color-4);
    color: var(--mantine-primary-color-8);
    padding: 8px 12px; /* Adjusted from rem(8px) rem(12px) */
    border-radius: var(--mantine-radius-xl);
}
